name: Run Bot

on:
  push:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install python-telegram-bot

      - name: Run bot
        env:
          BOT_TOKEN: ${{ 8454981108:AAElu08c7b-tWQqHWycYTRitVTaKuK2cAD4 }}
          GROUP_ID: ${{ -1003381879257 }}
          ADMIN_ID: ${{ 5732240284 }}
        run: |
          python3 bot.py
